# Welcome to Python Programming

## My First program in python

In [5]:
print("Hello world")

Hello world

## Integer and String type variables

In [2]:
x=10
y=3*x
print(x,y,sep=" - I am seperator - ")
print(x,y,sep=" ; ")
type(y)

10 - I am seperator - 30
10 ; 30

int

In [3]:
ch1 = 'Techobytes'
ch2 = "Python's"
print(ch1)
print(type(ch1))
print(ch2)
print(type(ch2))

Techobytes
<class 'str'>
Python's
<class 'str'>

In [4]:
ch3 = ch1 +' ' + ch2
print(ch3)

Techobytes Python's

In [ ]:
Ch4 = 2*ch1 + " " + 4*(ch2 + " ")
print(Ch4)

In [ ]:
ch5 = "2"
print(ch5, ' is ', type(ch5))
z = int(ch5)
print(z,' is ',type(z))

## Numerical types
#### Integer
#### Float
#### Complex
#### Boolean

In [ ]:
#Integer
a = 9
b = 2

#Float
c = 2.5

#Complex
d = 5 + 6j

In [ ]:
res_add, res_mul = a+b, a*b

print('Adding two integers :', res_add)
print('Multiplying two integers :', res_mul)
print(type(res_add), type(res_mul))

In [ ]:
res_add, res_mul = float(a)+b, float(a*c)

print('Adding a integer and a float :', res_add)
print('Multiplying and typecasting to float :', res_mul)
print(type(res_add), type(res_mul))

In [ ]:
res_div1 = a/b
print('Dividing two integers :', res_div1,type(res_div1))
res_div2 = a//b
print('Dividing two integers and enforcing result to be integer :', res_div2,type(res_div2))

In [ ]:
print(d,d.real,d.imag,sep='\n')
print(type(d))

In [ ]:
print(d.conjugate())

In [ ]:
res = a > b 
print(res, type(res))

In [ ]:
res = a < b
print(res, type(res))

## Container kind data types
### Lists

In [ ]:
#Lists

cars = ['audi', 'benze', 'volkswagen', 'ford', 'ferrari']
type(cars)

In [ ]:
print(cars[0],cars[3],cars[-1],cars[-4])

In [ ]:
cars[2:4]

In [ ]:
cars.append('Audi')
print(cars)

In [ ]:
cars.extend(['General Motors', 'Continental'])
print(cars)

In [ ]:
#Reverse of a list
cars.reverse()
print(cars)

In [ ]:
cars2 = ['Delphi', 'Rober bosch', 'Mrcedes', 'BMW', 'DAF']
cars = cars + cars2
print(cars)

In [ ]:
cars.sort()
print(cars)

In [ ]:
#List is mutable

cars[0] = 'Force Motors'
cars[2] = 'Tata Motors'

print(cars)

In [ ]:
# Double tap for more commands

cars

### Strings

In [ ]:
# Strings are immutable

ch = 'My program'
print(ch)

In [ ]:
print(ch[1])
print(ch[3:])

In [ ]:
ch[4] = 'p'

In [ ]:
#press double tab to see all the applicable methods

ch.casefold?

In [ ]:
mystr = '%s is %d kilometers away from %s' %(ch, 400, 'Hyderabad')
print(mystr)

### Dictionaries

In [ ]:
pincode = {'Nagole': 500064, 'DSNR': 500068}
pincode['Gachibowli'] = 500032

In [ ]:
print(pincode)

In [ ]:
print(pincode.values())
print(pincode.keys())

In [ ]:
#double tap for more commands

pincode

### Tuples

In [ ]:
tup1 = 'hello' , 'world', 25 , 24.09, True
print(type(tup1))

In [ ]:
#tuples are ordeered
tup2 = (24,23.09,'hyderabad','Vijayawada',False )
print(tup2)

In [ ]:
# tuples is immuratble
tup2[1]='hi'

In [ ]:
# Double tab for more functions

tup2

### Sets

In [ ]:
#Unordered unique list
set1 = { 'a', 'b', 'c', 'd', 'e', 'a', 'b'}
set2 = set(('d', 'e', 'f', 'g', 'h'))

print(set1)
print(set2)

In [ ]:
print('Union of sets : ', set1.union(set2))
print('Intersection of sets :', set1.intersection(set2))
print('Disjoint of sets :', set1.difference(set2))

In [ ]:
# Double tap for more methods

set1