In [1]:
import numpy as np

import pandas as pd

# Creating a Series by passing a list of values, letting pandas create a default integer index:

In [2]:
 s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [4]:
 dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01  0.263757 -0.001235 -0.540157 -0.862491
2013-01-02 -0.524942 -0.205302 -0.765226  0.114745
2013-01-03 -0.197253 -0.423027 -1.061322  0.013020
2013-01-04  0.384059 -0.079190 -0.652237 -1.318043
2013-01-05  0.827774 -0.053428  0.361587  1.566553
2013-01-06  0.089120 -0.404029 -0.108133 -1.501654

# Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [15]:
 df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...:

In [14]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
 df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object