# Welcome to Python Programming

## My First program in python

In [ ]:
print("Hello world")

## Integer and String type variables

In [6]:
x=10
y=3*x
print(x,y,sep=" - I am seperator - ")
print(x,y,sep=" ; ")
type(y)

10 - I am seperator - 30
10 ; 30

int

In [15]:
ch1 = 'Techobytes'#single and double quotes make no difference
ch2 = "Python's"
print(ch1)
print(type(ch1))
print(ch2)
print(type(ch2))

Techobytes
<class 'str'>
Python's
<class 'str'>

In [16]:
ch3 = ch1 +' ' + ch2
print(ch3)

Techobytes Python's

In [18]:
Ch4 = 2*(ch1+" ") + " " + 4*(ch2 + " ")
print(Ch4)

Techobytes Techobytes  Python's Python's Python's Python's

In [22]:
ch5 = "2"
print(ch5, ' is ', type(ch5))
z = int(ch5)
print(z,' is ',type(z))
x=float (z)
print(x,'is' ,type(x))

2  is  <class 'str'>
2  is  <class 'int'>
2.0 is <class 'float'>

## Numerical types
#### Integer
#### Float
#### Complex
#### Boolean

In [24]:
#Integer
a = 9
b = 2

#Float
c = 2.5

#Complex
d = 5 + 6j

In [26]:
res_add, res_mul = a+b, a*b

print('Adding two integers :', res_add)
print('Multiplying two integers :', res_mul)
print(type(res_add), type(res_mul))

Adding two integers : 11
Multiplying two integers : 18
<class 'int'> <class 'int'>

In [27]:
res_add, res_mul = float(a)+b, float(a*c)

print('Adding a integer and a float :', res_add)
print('Multiplying and typecasting to float :', res_mul)
print(type(res_add), type(res_mul))

Adding a integer and a float : 11.0
Multiplying and typecasting to float : 22.5
<class 'float'> <class 'float'>

In [31]:
res_div1 = a/b
print('Dividing two integers :', res_div1,type(res_div1))
res_div2 = a//b
print('Dividing two integers and enforcing result to be integer :', res_div2,type(res_div2))

Dividing two integers : 4.5 <class 'float'>
Dividing two integers and enforcing result to be integer : -5 <class 'int'>

In [29]:
print(d,d.real,d.imag,sep='\n')
print(type(d))

(5+6j)
5.0
6.0
<class 'complex'>

In [32]:
print(d.conjugate())

(5-6j)

In [33]:
res = a > b 
print(res, type(res))

True <class 'bool'>

In [34]:
res = a < b
print(res, type(res))

False <class 'bool'>

## Container kind data types
### Lists

In [35]:
#Lists

cars = ['audi', 'benze', 'volkswagen', 'ford', 'ferrari']
type(cars)

list

In [36]:
print(cars[0],cars[3],cars[-1],cars[-4])

audi ford ferrari benze

In [40]:
cars[1:4]

['benze', 'volkswagen', 'ford']

In [38]:
cars.append('Audi')
print(cars)

['audi', 'benze', 'volkswagen', 'ford', 'ferrari', 'Audi']

In [42]:
cars.extend(['General Motors', 'Continental'])
print(cars)

['audi', 'benze', 'volkswagen', 'ford', 'ferrari', 'Audi', 'Delphi', 'Rober bosch', 'Mrcedes', 'BMW', 'DAF', 'General Motors', 'Continental']

In [44]:
#Reverse of a list
cars.reverse()
print(cars)

['DAF', 'BMW', 'Mrcedes', 'Rober bosch', 'Delphi', 'Continental', 'General Motors', 'DAF', 'BMW', 'Mrcedes', 'Rober bosch', 'Delphi', 'Audi', 'ferrari', 'ford', 'volkswagen', 'benze', 'audi']

In [45]:
cars2 = ['Delphi', 'Rober bosch', 'Mrcedes', 'BMW', 'DAF']
cars = cars + cars2
print(cars)

['DAF', 'BMW', 'Mrcedes', 'Rober bosch', 'Delphi', 'Continental', 'General Motors', 'DAF', 'BMW', 'Mrcedes', 'Rober bosch', 'Delphi', 'Audi', 'ferrari', 'ford', 'volkswagen', 'benze', 'audi', 'Delphi', 'Rober bosch', 'Mrcedes', 'BMW', 'DAF']

In [47]:
cars.sort()
print(cars)

['Audi', 'BMW', 'BMW', 'BMW', 'Continental', 'DAF', 'DAF', 'DAF', 'Delphi', 'Delphi', 'Delphi', 'General Motors', 'Mrcedes', 'Mrcedes', 'Mrcedes', 'Rober bosch', 'Rober bosch', 'Rober bosch', 'audi', 'benze', 'ferrari', 'ford', 'volkswagen']

In [ ]:
#List is mutable

cars[0] = 'Force Motors'
cars[2] = 'Tata Motors'

print(cars)

In [49]:
# Double tap for more commands

cars

['Audi',
 'BMW',
 'BMW',
 'BMW',
 'Continental',
 'DAF',
 'DAF',
 'DAF',
 'Delphi',
 'Delphi',
 'Delphi',
 'General Motors',
 'Mrcedes',
 'Mrcedes',
 'Mrcedes',
 'Rober bosch',
 'Rober bosch',
 'Rober bosch',
 'audi',
 'benze',
 'ferrari',
 'ford',
 'volkswagen']

### Strings

In [50]:
# Strings are immutable

ch = 'My program'
print(ch)

My program

In [62]:
print(ch[1])
print(ch[-4:-2])

y
gr

In [52]:
ch[4] = 'p'

TypeError: 'str' object does not support item assignment

In [69]:
#press double tab to see all the applicable methods
                        
ch.casefold?

In [63]:
mystr = '%s is %f kilometers away from %s' %(ch, 400, 'Hyderabad')
print(mystr)

My program is 400.000000 kilometers away from Hyderabad

### Dictionaries

In [70]:
pincode = {'Nagole': 500064, 'DSNR': 500068}
pincode['Gachibowli'] = 500032

In [66]:
print(pincode)

{'Nagole': 500064, 'DSNR': 500068, 'Gachibowli': 500032}

In [71]:
print(pincode.values())
print(pincode.keys())

dict_values([500064, 500068, 500032])
dict_keys(['Nagole', 'DSNR', 'Gachibowli'])

In [68]:
#double tap for more commands

pincode

{'Nagole': 500064, 'DSNR': 500068, 'Gachibowli': 500032}

### Tuples

In [72]:
tup1 = 'hello' , 'world', 25 , 24.09, True
print(type(tup1))

<class 'tuple'>

In [73]:
#tuples are ordeered
tup2 = (24,23.09,'hyderabad','Vijayawada',False )
print(tup2)

(24, 23.09, 'hyderabad', 'Vijayawada', False)

In [74]:
# tuples is immuratble
tup2[1]='hi'

TypeError: 'tuple' object does not support item assignment

In [75]:
# Double tab for more functions

tup2

(24, 23.09, 'hyderabad', 'Vijayawada', False)

### Sets

In [79]:
#Unordered unique list
set1 = { 'a', 'b', 'c', 'd', 'e', 'a', 'b'}
set2 = set(('d', 'e', 'f', 'g', 'h'))

print(set1)
print(set2)

{'c', 'e', 'b', 'a', 'd'}
{'g', 'e', 'f', 'h', 'd'}

In [77]:
print('Union of sets : ', set1.union(set2))
print('Intersection of sets :', set1.intersection(set2))
print('Disjoint of sets :', set1.difference(set2))

Union of sets :  {'c', 'g', 'e', 'f', 'b', 'h', 'a', 'd'}
Intersection of sets : {'e', 'd'}
Disjoint of sets : {'b', 'c', 'a'}

In [78]:
# Double tap for more methods

set1

{'a', 'b', 'c', 'd', 'e'}